@import "../../../styles/Variaveis";

.cards {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    gap: 40px;
    background-color: #EBE3D0;
    flex-wrap: wrap;

    &__card {
        width: 400px;
        height: 340px;
        gap: 10px;
        padding: 10px 20px 20px 20px;
        box-sizing: border-box;
        border: 2px solid #42220D;
        border-radius: 6px;
        box-shadow: 2px 2px 2px 1px rgba(66, 38, 38, 0.2);
    }

    &__titulo {
        font-family: $fonte-especial;
        color: $marrom;
        font-weight: 100;
        font-size: 40px;
    }

    &__paragrafo {
        font-size: 16px;
        color: $marrom;
    }

    &__imagem {
        width: auto;
        height: auto;
    }
}

.voltar {
    display: flex;
    background-color: $bege;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 20px;
    &__botao {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        color: $bege;
        background-color: #42220D;
        opacity: 0.9;
    }
    &__texto {
        color: inherit;
    }
}

@media screen and (max-width: 480px) { 
    .cards {
        &__card {
            width: 300px;
            height: 340px;
            gap: 10px;
            padding: 10px 20px 20px 20px;
            box-sizing: border-box;
            border: 2px solid #42220D;
            border-radius: 6px;
            box-shadow: 2px 2px 2px 1px rgba(66, 38, 38, 0.2);
        }
        &__titulo {
            font-size: 36px;
        }


        &__imagem{ 
            width: auto;
            height: 170px;
        }

    }
}