@import "../../../styles/Variaveis";

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 20px;
  background: $marrom;
  color: $bege;
  font-size: 20px;

  &__lista {
    display: flex;
    gap: 50px;
    list-style: none;
  }
  &__links {
    text-decoration: none;
    color: inherit;
    list-style: none;
  }

  &__lista2 {
    display: none;
    gap: 40px;
    padding-left: 190px;
    list-style: none;
  }

  &__item {
    cursor: pointer;
    &:hover {
      color: $rosa;
      transition: 0.3s ease-in-out;
    }
  }

  &__botaomobile {
    display: none;
    cursor: pointer;
    background-color: $rosa;
    border: none;
    border-radius: 6px;
    width: 38px;
    height: 34px;
    color: $marrom;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .cabecalho {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    &__lista {
      display: flex;
      padding: 20px;
      height: 470px;
      width: 100%;
      inset: 0;
      position: absolute;
      top: 70px;
      z-index: 1000;
      background-color: $marrom;
      opacity: 0.9;
      justify-content: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &__botaomobile {
      display: block;
    }
  }

  .menu.active {
    opacity: 1;
    visibility: visible;
  }
  .menu {
    opacity: 0;
  }
}
