@import "../../../styles/Variaveis";

.swiper-pagination-bullet-active {
    background-color: red !important;
  }

.mySwiper  {
    width: 450px;
    height: 540px;
    border: 2px solid $marrom;
    border-radius: $borda-padrao;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: $bege;   

    &__card {
        padding-top: 30px;
        padding-bottom: 30px;
    
    }
}
.slide {
    background-color: $bege-2;
    &__imagem {
        width: 450px;
        height: 480px; 
        padding: 20px;
    }
    &__texto {
        display: flex;
        justify-content: center;
        font-size: $paragrafo;
    }
}

@media screen and (max-width: 990px) {  
    .mySwiper  {
        width: 360px;
        height: 520px;
        border: 2px solid $marrom;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carrossel {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        background-color: $bege-2;   
    
        &__card {
            padding: 30px 10px 30px 10px;
        }
    }
    .slide {
        &__imagem {
            width: 100%;
            height: 460px; 
            padding: 14px 14px 4px 14px;
            border-radius: $borda-padrao;
        }
}
    
}
