@import "../../../styles/Variaveis";

.texto {
    height: 62px;
    background: $rosa;
    color: $marrom;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fonte-especial;
    font-size: 38px;
    font-weight: 100;
    text-align: center;

}

@media screen and (max-width: 480px) { 
    .texto {
        height: 48px;
        font-size: 32px;
    }
}