@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat:wght@400;500;700&display=swap');

//Cores
$marrom: #42220D;
$bege: #EBE3D0;
$bege-2: #eeeae1;
$rosa: #DFA398;

//Tipografia:
$fonte-especial: 'Berkshire Swash', cursive;

//Tamanhos de fontes:
$paragrafo: 16px;
$titulo : 40px;
$titulo-mobile: 36px;

//Bordas:
$borda-padrao: 6px;